.body {
  background-color: #A28E75;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;

  .header {
    border-radius: 50%;
    margin: 85px auto 0;
    background-color: #E3AB60;

    .img {
      height: 150px;
      background-color: #E3AB60;
      margin: 60px;
    }
  }

  .title {
    color: black;
    margin-top: 60px;
    font-family: 'Fjalla One';
    font-size: 3.2rem;
  }

  .subtitle {
    color: black;
    margin-top: 60px;
    font-family: 'Fjalla One';
    font-size: 2.4rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    .header {
      animation: header-spin infinite 20s linear;
    }
  }
}

@keyframes header-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
